@font-face {
  font-family: 'Starwars';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/starwars.ttf') format('truetype');
}

@font-face {
  font-family: 'Starwars Hollow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/starwars-hollow.ttf') format('truetype');
}
